@charset "UTF-8";

/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body {
    background-color: #90E0EF;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: #0077B6;
}


h1#main {
    background-color: #03045E;
    color: #CAF0F8;
    text-align: center;
}

h2 {
    color: #00B4D8;
}


.basic {
    color: #00d800;
}


.interm {
    color: #cad800;
}


.hard {
    color: #d80000;
}