@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100vh;
    background-color: aliceblue;
}

h1 {
    font-size: 2em;
}

menu {
    text-align: center;
    background-color: black;
}

menu a {
    padding: 10px;
    margin: 5px;
    color: aliceblue;
    text-decoration: none;
}

menu li {
    padding: 7px;
    background-color: grey;
    border-radius: 7px;
}

p {
    margin: 10px;
    text-align: justify;
    text-indent: 17px;
}
footer {
    font-size: 1.5em;
    text-align: center;
    color: aliceblue;
    background-color: black;
    padding: 20px;
}