@charset "UTF-8";

/*------- Mbile First -------*/

/*
================ Everyone ================
======= Typical Device Breakpoints =======

small screen: max 600px
cellphone screen: min 600px max 768px
tablet screen: min 768px max 992px
desktop screen: min 992px max 1200px
tv screen: min 1200px

*/


* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100vh;
    background-color: rgb(197, 228, 255);
}

h1 {
    text-align: center;
    font-size: 2em;
}

menu#mb {
    display: none;
}

menu a {
    text-align: center;
    display: block;
    padding: 10px;
    margin: 5px;
    color: aliceblue;
    text-decoration: none;
}

menu li {
    padding: 7px;
    background-color: grey;
    border: 1px solid black;
}

#burguer {
    text-align: center;
    display: block;
    color: white;
    background-color: darkred;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: red;
    color: white;
}

main {
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

menu li:hover {
    background-color: darkred;
}

p {
    margin: 10px;
    text-align: justify;
    text-indent: 17px;
}
footer {
    font-size: 1.5em;
    text-align: center;
    color: aliceblue;
    background-color: black;
    padding: 20px;
}