@charset "UTF-8";

/*------- Mbile First -------*/

/*
================ Everyone ================
======= Typical Device Breakpoints =======

small screen: max 600px
cellphone screen: min 600px max 768px
tablet screen: min 768px max 992px
desktop screen: min 992px max 1200px
bigger screen: min 1200px

*/

* {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}


body {
    background: url(../images/back-phone.jpg);
    background-size: cover;
    background-position: center center;
}

main {
    text-align: center;
    background-color: #f0f8ffa8;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
}

main img {
    margin: auto;
}

#iconpc {
    display: none;
}

#iconphone {
    display: block;
}

#iconprint {
    display: none;
}

#icontablet {
    display: none;
}

#icontv {
    display: none;
}

#iconprint {
    display: none;
}