@charset "UTF-8";

body {
    background-image: url(images/wallpaper001.jpeg);
}

div.square {
    border: 2px solid black;
    display: inline-block;
    height: 200px;
    width: 200px;
}

div#q1 {
    background-color: aqua;
}

div#q2 {
    background-image: linear-gradient(to bottom, #5454e2, #800080);
}

div#q3 {
    background-image: url(images/pattern001.png);
}